@model ClothesShop.Models.ProductViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.Products;
}


@section scripts{
    @Scripts.Render("~/bundles/products")
    <script>
    $(document).ready(function () {
        
        ProductsManager.Instance.Init({
            "grid_id": "#ProductsGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "Products")",
                "grid_captions": {
                    "name": "@Resources.FullName",
                    "originalPrice": "@Resources.OriginalPrice",
                    "colors": "@Resources.Colors",
                    "sizes": "@Resources.Sizes",
               },
                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Products", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "Products")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Products", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "Products")",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteProduct)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"
            });
        });
    </script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Products", ClothesShop.Enums.RoleType.Add))
    {
            <a href="@Url.Action("Create","Products", new { area = "" })" class="btn btn-success mb-2">
                @Resources.AddProduct  <i class="dx dx-icon-add"></i>
            </a>
    }

    <div id="ProductsGrid">
    </div>
</div>
