@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.AddOrders;
}
<div class="container-fluid dir-rtl col-md-12">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @{
        var id = ViewBag.ID;
    }
    <input type="hidden" value="@id" id="EmployeeID" name="EmployeeID" />
    <div class="card m-0">
        <div class="card-header pb-0">
            <h3 class="m-0">@Resources.AddOrders</h3>
        </div>
        <div class="card-body">
            @Html.Partial("_CreateEdit")
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-md btn-success" id="submit">
                 @Resources.Save
            </button>
            <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "Delivery")">
                @Resources.BackToList
            </a>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/deliveriesInfo")
<script>
        $(document).ready(function () {
            DeliveriesInfoManager.Instance.Init({
                "url": "@Url.Action("GetAllUnAssignedOrders", "Orders")",
                "lst":"",
                "create_url": "@Url.Action("Create", "Delivery")",
                "index_url":"@Url.Action("Index", "Delivery")",
                "grid_id":"#OrdersGrid",
                "grid_height": "calc(100vh - 350px)",
                "employee_id": parseInt($("#EmployeeID").val()),
                "save_btn": "#submit",
                "page_info": "@Resources.PageInfo",
                "grid_captions": {
                "id": "@Resources.Code",
                "customer_name": "@Resources.CustomerName",
                "address": "@Resources.Address",
                "mobile_number": "@Resources.MobileNumber",
                "total": "@Resources.TotalOrdersCash",
                "shipment_price": "@Resources.ShipmentPrice",
                "order_status": "@Resources.OrderStatus",
                "paid_amount": "@Resources.PaidAmount"
                },
                "is_create_view": true,
                "no_added_orders_msg": "@Resources.NoAddedOrders",
                "no_data": "@Resources.NoData",
                "error_occured": "@Resources.Error"
            });
        });
//data: { employeeId: employeeId, orderIds: IdsList },
</script>
}