@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.OrdersDelivery;
}
@using ClothesShop.Languages
@using ClothesShop.Helpers

<div class="container-fluid dir-rtl col-md-12">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @{
        var id = ViewBag.ID;
    }
    <input type="hidden" value="@id" id="EmployeeID" name="EmployeeID" />
    <div class="card m-0">
        <div class="card-header pb-0">
            <h3 class="m-0">@Resources.EditOrders</h3>
        </div>
        <div class="card-body">
            @Html.Partial("_CreateEdit")
            <div id="ChangeOrderpopup"></div>
            <div id="ChangeOrderspopup"></div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Create","Delivery" , new { area = "" , id = ViewBag.ID })" class="btn btn-md btn-success">
                <i class="dx dx-icon-add"></i> @Resources.AddOrder
            </a>
            <a href="#" id="ChangeOrdersStatus" class="btn btn-primary btn-md">
                <i class="dx dx-icon-edit"></i> @Resources.ChangeOrdersStatus
            </a>
            <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "Delivery")">
                @Resources.BackToList
            </a>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/deliveriesInfo")
<script>
        $(document).ready(function () {
            DeliveriesInfoManager.Instance.Init({
                "url": "",
                "lst": '@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Orders)',
                "change_order_url": "@Url.Action("ChangeOrderStatus", "Delivery")",
                "change_orders_url": "@Url.Action("ChangeOrdersStatus", "Delivery")",
                "change_order_status_text": "@Resources.ChangeOrderStatus",
                "change_orders_status_text": "@Resources.ChangeOrdersStatus",
                "save_text": "@Resources.Save",
                "saved_text": "@Resources.EditedSuccessfully",
                "order_status_text": "@Resources.OrdersStatus",
                "close_popup_btn": "@Resources.Close",
                "grid_id" : "#OrdersGrid",
                "grid_height": "calc(100vh - 350px)",
                "employee_id": parseInt($("#EmployeeID").val()),
                "save_btn": "",
                "change_orders_status": "#ChangeOrdersStatus",
                "page_info": "@Resources.PageInfo",
                "grid_captions": {
                "id": "@Resources.Code",
                "seller_name":"@Resources.SellerName",
                "customer_name": "@Resources.CustomerName",
                "address": "@Resources.Address",
                "mobile_number": "@Resources.MobileNumber",
                "total": "@Resources.TotalOrdersCash",
                "shipment_price": "@Resources.ShipmentPrice",
                "order_status": "@Resources.OrderStatus",
                "paid_amount": "@Resources.PaidAmount"
                },
                "is_create_view": false,
                "no_added_orders_msg": "@Resources.SelectAtLeastOneOrder",
                "no_data": "@Resources.NoData",
                "error_occured": "@Resources.Error",
                "edit_order_status": "<i class='dx dx-icon-edit'/> @Resources.EditOrder",
                "delete": "@Resources.Delete",
                "change_order_popup_id": "#ChangeOrderpopup",
                "change_orders_popup_id": "#ChangeOrderspopup",
                "order_statuses": '@(Newtonsoft.Json.JsonConvert.SerializeObject(Helper.EnumToList<ClothesShop.Enums.OrderStatuses>()))',
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",
                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteOrderFromDeliveryMan)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "place_holder": "@Resources.Search",
            });
        });
</script>
}