@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.OrdersDelivery;
}
<div class="container">
    <div class="form-horizontal col-xs-12 col-md-12 col-md-offset-0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@ClothesShop.Languages.Resources.OrdersDelivery</h4>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @{
                    var id = ViewBag.ID;
                }
                <input type="hidden" value="@id" id="EmployeeID" name="EmployeeID" />
                <div class="form-group">
                    <div class="col-xs-12 col-md-12 padding0">
                        <div class="col-xs-12 col-md-6 padding0 f-right">
                            <div class="col-xs-12 col-md-3 margin5 f-right">
                                <label>@ClothesShop.Languages.Resources.DeliveryMan</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <span>@ViewBag.EmployeeName</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 padding0 f-right">
                            <div class="col-xs-12 col-md-3 margin5 f-right">
                                <label>@ClothesShop.Languages.Resources.MobileNumber</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <span>@ViewBag.EmployeeMobileNumber</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 padding0">
                    <div class="col-xs-12 padding0 headerStyle">
                        <h4>@ClothesShop.Languages.Resources.Orders</h4>
                    </div>
                    <div class="col-xs-12 padding0" style="margin-top:10px;margin-bottom:0px;">
                        <table id="OrdersGrid" class="table table-striped table-bordered dt-responsive nowrap GeneralTable Margin0" width="100%" cellspacing="0">
                            <thead>
                                <tr class="theadData">
                                    <td class="width5"></td>
                                    <th class="width5">@ClothesShop.Languages.Resources.Code</th>
                                    <th>@ClothesShop.Languages.Resources.CustomerName</th>
                                    <th>@ClothesShop.Languages.Resources.Address</th>
                                    <th>@ClothesShop.Languages.Resources.MobileNumber</th>
                                    <th>@ClothesShop.Languages.Resources.TotalOrdersCash</th>
                                    <th>@ClothesShop.Languages.Resources.ShipmentPrice</th>
                                    <th>@ClothesShop.Languages.Resources.OrderStatus</th>
                                    <th>@ClothesShop.Languages.Resources.PaidAmount</th>
                                    <th class="width5"></th>
                                    <th class="width5"></th>
                                </tr>
                            </thead>
                            <tbody style="max-height: 44vh !important;">
                                @{
                                    var orders = (List<ClothesShop.Models.OrdersViewModel>)ViewBag.Orders;
                                    if (orders != null && orders.Count > 0)
                                    {

                                        foreach (var order in orders)
                                        {
                                            <tr>
                                                <td class="width5"><input type='checkbox' id='checkBox_@order.ID' data-id='@order.ID' onchange='OnChangeSelection(this)'/></td>
                                                <td class="width5">@order.ID</td>
                                                <td>@order.Customer.Name</td>
                                                <td>@order.Customer.Address</td>
                                                <td>@order.Customer.MobileNumber1</td>
                                                <td>@order.OrderTotalPrice</td>
                                                <td>@order.ShipmentPrice</td>
                                                <td>@order.OrderStatusName</td>
                                                <td>@(order.PaidAmount +" "+ClothesShop.Languages.Resources.LE)</td>
                                                <td class="width5">
                                                    <a href="#" onclick="OnOpenChangeStatusPopup('@order.ID', '@order.OrderStatusID', '@order.PaidAmount')" class="btn btn-primary btn-lg">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </td>
                                                <td class="width5">
                                                    <button type="button" class="btn btn-danger btn-lg" onclick="ConfirmDeleteOrder('@order.ID');">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr class="tfooter">
                                            <td colspan="9" class="text-center">@ClothesShop.Languages.Resources.NoAddedOrders</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            </table>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-xs-12 col-md-4 f-right txt-right">
                        <a href="@Url.Action("Create","Delivery" , new { area = "" , id = ViewBag.ID })" class="btn btn-lg btn-success">
                            @ClothesShop.Languages.Resources.AddOrder
                        </a>
                            <a href="#" onclick="OpenChangeStatusPopUp()" class="btn btn-primary btn-lg">
                                @ClothesShop.Languages.Resources.ChangeOrdersStatus<i class="fa fa-pencil"></i>
                            </a>
                    </div>
             
                    <div class="col-xs-12 col-md-4 f-left txt-left">
                        @Html.ActionLink(ClothesShop.Languages.Resources.BackToList, "Index", "", htmlAttributes: new { @class = "btn btn-lg btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="UpdatStatusModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="display: inline;">@ClothesShop.Languages.Resources.ChangeOrderStatus</h5>
                <button type="button" class="close f-left" onclick="CloseModal();"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="UpdatStatusModalBody">
                <div class="row Padding0 Margin0">

                    <div class="form-horizontal">
                        <div class="row col-xs-12 Padding0 Margin0">
                          
                            <div class="col-xs-12 f-right">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label>@ClothesShop.Languages.Resources.OrderStatus</label>
                                    </div>
                                    <div class="col-md-12">
                                        @Html.DropDownList("OrderStatusList",new SelectList(ClothesShop.Helpers.Helper.EnumToList<ClothesShop.Enums.OrderStatuses>(),"ID","Name"), new {@id = "OrderStatusList", @class = "form-control" , @onchange="OnChangeOrderStatusSelection()" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 f-right" id="PaidAmountDiv">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label>@ClothesShop.Languages.Resources.PaidAmount</label>
                                    </div>
                                    <div class="col-md-12">
                                        @Html.TextBox("PaidAmount","",new { @class="form-control", type="number" , min ="0" , @id= "PaidAmount"})
                                        <input type="hidden" id="OrderID" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ChangeOrderStatus();"  class="btn btn-lg btn-success">@ClothesShop.Languages.Resources.Save</button>
                <button type="button" class="btn btn-lg btn-default" onclick="CloseModal();">@ClothesShop.Languages.Resources.Close</button>
            </div>

        </div>
    </div>

</div>

<div id="UpdatStatusModal2" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="display: inline;">@ClothesShop.Languages.Resources.ChangeOrdersStatus</h5>
                <button type="button" class="close f-left" onclick="CloseModal2();"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="UpdatStatusModalBody">
                <div class="row Padding0 Margin0">

                    <div class="form-horizontal">
                        <div class="row col-xs-12 Padding0 Margin0">

                            <div class="col-xs-12 f-right">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label>@ClothesShop.Languages.Resources.OrdersStatus</label>
                                    </div>
                                    <div class="col-md-12">
                                        @Html.DropDownList("OrdersStatusList", new SelectList(ClothesShop.Helpers.Helper.EnumToList<ClothesShop.Enums.OrderStatuses>(), "ID", "Name"), new { @id = "OrdersStatusList", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ChangeOrdersStatus();" class="btn btn-lg btn-success">@ClothesShop.Languages.Resources.Save</button>
                <button type="button" class="btn btn-lg btn-default" onclick="CloseModal2();">@ClothesShop.Languages.Resources.Close</button>
            </div>

        </div>
    </div>

</div>
@section styles{
    @Styles.Render("~/Styles/EmployeeAdd")
}
@section scripts{
    <script>
        var msg = "";
        var IdsList = [];

        function OnChangeSelection(element) {
            var isChecked = $(element).is(":checked");
            var orderId = $(element).attr("data-id");
            if (isChecked == true) {
                if (IdsList.indexOf(orderId) == -1)
                    IdsList.push(orderId);
            }
            else {
                var index = IdsList.indexOf(orderId);
                if (index != -1)
                    IdsList.splice(index, 1);
            }
        }

        function ConfirmDeleteOrder(id) {
            msg = "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteOrderFromDeliveryMan)";
            var url = '@Url.Action("ChangeOrderStatus", "Delivery")';
            var data = JSON.stringify({ orderId: id , deliverManId : null , orderStatusId : 0 , paidAmount : null });
            CommonManager.prototype.ConfirmDelete(url, data);
        }

        function OnChangeOrderStatusSelection() {
            var orderStatus = $("#OrderStatusList option:selected").val();
            if (orderStatus == 2 || orderStatus == 3) {
                $("#PaidAmountDiv").show();
            }
            else {
                $("#PaidAmountDiv").hide();
                $("#PaidAmount").val(null);
            }
        }
        function OnOpenChangeStatusPopup(id, orderStatusId, paidAmount) {
            $("#UpdatStatusModal").modal("show");
            $("#OrderStatusList option[value='" + orderStatusId + "']").prop("selected", true);
            $("#PaidAmount").val(paidAmount);
            $("#OrderID").val(id);
            OnChangeOrderStatusSelection();
        }
        function OpenChangeStatusPopUp() {
            $("#UpdatStatusModal2").modal("show");
        }
        function CloseModal() {
            $("#OrderID").val("");
            $("#UpdatStatusModal").modal("hide");
        }
        function CloseModal2() {
            $("#UpdatStatusModal2").modal("hide");
        }
        function ChangeOrderStatus() {

            var paidAmount = $("#PaidAmount").val();
            if (isNaN(paidAmount) || parseFloat(paidAmount) <= 0) {
                CommonManager.prototype.Alert("@Html.Raw(ClothesShop.Languages.Resources.InvalidPaidAmount)")
                return "";
            }

            var orderStatus = $("#OrderStatusList option:selected").text();
            var orderStatusId = $("#OrderStatusList option:selected").val();

            var orderId = $("#OrderID").val();
            var deliveryManId = $("#EmployeeID").val();
            msg = "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureYouWantToChangeStatusTo)" + " " + orderStatus +" ؟ ";
            var url = '@Url.Action("ChangeOrderStatus", "Delivery")';
            var data = JSON.stringify({ orderId: orderId, deliverManId: deliveryManId, orderStatusId: orderStatusId, paidAmount: paidAmount });
            CommonManager.prototype.ConfirmDelete(url, data);
        }

        function ChangeOrdersStatus() {
            if (IdsList.length <= 0) {
                CloseModal2();
                return;
            }
            var orderStatus = $("#OrdersStatusList option:selected").text();
            var ordersStatusId = $("#OrdersStatusList option:selected").val();
            msg = "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureYouWantToChangeOrdersStatusTo)" + " " + orderStatus +" ؟ ";
            var url = '@Url.Action("ChangeOrdersStatus", "Delivery")';
            var data = JSON.stringify({ orderIds: IdsList, orderStatusId: ordersStatusId });
            CommonManager.prototype.ConfirmDelete(url, data);
        }
    </script>
}