@model ClothesShop.Models.OrderDeliveryViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.OrdersDelivery;
}

@section scripts{
    @Scripts.Render("~/bundles/deliveries")

<script>
        $(document).ready(function () {
            DeliveriesManager.Instance.Init({
                "grid_id": "#DeliveriesGrid",
                "grid_height": "calc(100vh - 150px)",
                "url": "@Url.Action("GetAll", "Delivery")",
                "grid_captions": {
                    "employee_name": "@Resources.DeliveryMan",
                    "employeeMobileNumber": "@Resources.MobileNumber1",
                    "numberOfOrders": "@Resources.NumberOfOrders",
                    "totalOrderCash": "@Resources.TotalOrdersCash"
                },

                "view_add": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Delivery", ClothesShop.Enums.RoleType.Add)" == "True",
                "add_url": "@Url.Action("Create", "Delivery")/",
                "add_text": "<i class='dx dx-icon-add'/> @Resources.AddOrders",

                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Delivery", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "Delivery")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_details": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Delivery", ClothesShop.Enums.RoleType.Details)" == "True",
                "print_url": "@Url.Action("ExportToPDF", "Delivery")/",
                "print_text": "<i class='dx dx-icon-print' /> @Resources.Print",
                "export_url": "@Url.Action("ExportToExcel", "Delivery")/",
                "export_text": "<i class='dx dx-icon-xlsxfile'/> @Resources.ExcelSheet",
                
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"

            });
        });
</script>
}
<div class="container-fluid">
    
    <div id="DeliveriesGrid">
    </div>
</div>