@model ClothesShop.Models.TodayExpenseViewModel

@{
    ViewBag.Title = ClothesShop.Languages.Resources.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="form-horizontal col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@ClothesShop.Languages.Resources.Details</h4>
            </div>
            <div class="panel-body">
                <div class=" col-xs-12">
                    <div class="col-xs-12 padding0">
                        <div class="col-xs-6 padding0 f-right txt-right paddingTop10">
                            <div class="col-xs-6 margin5 f-right">
                                <label>@ClothesShop.Languages.Resources.Date</label>
                            </div>
                            <div class="col-md-6 margin5">
                                @Html.DisplayFor(model => model.CreatedOn_, new { htmlAttributes = new { @class = "" } })
                            </div>
                        </div>
                        <div class="col-xs-6 padding0 f-right txt-right paddingTop10">
                            <div class="col-xs-6 margin5 f-right">
                                <label>@ClothesShop.Languages.Resources.TotalCost</label>
                            </div>
                            <div class="col-md-6 margin5">
                                @Html.DisplayFor(model => model.TodayTotalExpensesCost, new { htmlAttributes = new { @class = "" } })
                            </div>
                        </div>  
                        <div class="col-xs-6 padding0 f-right txt-right paddingTop10">
                            <div class="col-xs-6 margin5 f-right">
                                <label>@ClothesShop.Languages.Resources.CreatedBy</label>
                            </div>
                            <div class="col-md-6 margin5">
                                @Html.DisplayFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "" } })
                            </div>
                        </div>
                         <div class="col-xs-6 padding0 f-right txt-right paddingTop10">
                            <div class="col-xs-6 margin5 f-right">
                                <label>@ClothesShop.Languages.Resources.IsApproved</label>
                            </div>
                            <div class="col-md-6 margin5">
                                @(Model.IsApproved?ClothesShop.Languages.Resources.YesText:ClothesShop.Languages.Resources.NoText)
                            </div>
                        </div>

                        <div class="col-xs-12 padding0 f-right txt-right paddingTop10">
                            <table class="table table-striped GeneralTable">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            @ClothesShop.Languages.Resources.Name
                                        </th>
                                        <th scope="col">
                                            @ClothesShop.Languages.Resources.Cost
                                        </th>
                                    </tr>
                                </thead>
                                @if (Model != null && Model.Expenses != null && Model.Expenses.Count() > 0)
                                {
                                    foreach (var item in Model.Expenses)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cost)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center">
                                            @ClothesShop.Languages.Resources.NoData
                                        </td>
                                    </tr>
                                }
                            </table>
                            </div>

                        </div>
                    </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-xs-12 col-md-6 f-right txt-right">
                        @if (!Model.IsApproved && ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens",ClothesShop.Enums.RoleType.Edit))
                        {
                            <a type="button" class="btn btn-lg btn-success" href="@Url.Action("Edit", "TodayExpes")/@Model.ID">
                                @ClothesShop.Languages.Resources.Edit
                            </a>
                        }
                    </div>
                    <div class="col-xs-12 col-md-6 f-left txt-left">
                        <a type="button" class="btn btn-lg btn-primary" href="@Url.Action("Index", "TodayExpens")">
                            @ClothesShop.Languages.Resources.BackToList
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
