@model ClothesShop.Models.TodayExpenseViewModel
@using ClothesShop.Languages
@{
    ViewBag.Title = ClothesShop.Languages.Resources.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid dir-rtl col-md-8 offset-md-2">
    <div class="card m-0">
        <div class="card-header pb-0">
            <h3 class="m-0">@Resources.Details</h3>
        </div>
        <div class="card-body custom-card-body pt-2 m-0">
            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.CreatedOn</label>
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.CreatedOn_, new { htmlAttributes = new { @class = "form-control form-control-md " } })
                </div>
            </div>


            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.TotalExpenses</label>
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.TodayTotalExpensesCost, new { htmlAttributes = new { @class = "form-control form-control-md " } })@Resources.LE
                </div>
            </div>

            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.CreatedBy</label>
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control form-control-md " } })
                </div>
            </div>

            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.IsApproved</label>
                </div>
                <div class="col-md-12">
                    @(Model.IsApproved?ClothesShop.Languages.Resources.YesText:ClothesShop.Languages.Resources.NoText)
                </div>
            </div>

            <div class="col-md-12 mb-3 d-inline-block">
                <div id="TodayExpensGrid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            @if (!Model.IsApproved && ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.Edit))
            {
                <a type="button" class="btn btn-md btn-success" href="@Url.Action("Edit", "TodayExpens")/@Model.ID">
                    @Resources.Edit
                </a>
            }
            <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "TodayExpens")">
                @Resources.BackToList
            </a>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/todayExpensInfo")
    <script>
    $(document).ready(function () {
        TodayExpensInfoManager.Instance.Init({
            "no_data": "@Html.Raw(Resources.NoData)",
            "lst": CommonManager.Instance.NeowtonsoftDesealize('@Model.TodayExpenseSeralized'),
            "grid_captions": {
                "name": "@Resources.Name",
                "cost": "@Resources.Cost"
            },
            "grid_id": "#TodayExpensGrid",
            "is_details": true,
            "page_info": "@Resources.PageInfo",
            "currency":"@Resources.LE"
        });
    });
    </script>
}
