@model ClothesShop.Models.TodayExpenseViewModel
@using ClothesShop.Languages
@{
    ViewBag.Title = ClothesShop.Languages.Resources.EditExpenses;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "TodayExpens", FormMethod.Post, new { @id = "TodayExpensForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.IsApproved)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedOn)
    @Html.HiddenFor(m => m.TodayExpenseSeralized)

    <div class="container-fluid dir-rtl col-md-8 offset-md-2">
        <div class="card m-0">
            <div class="card-header pb-0">
                <h4>@Resources.EditExpenses</h4>
            </div>
            <div class="card-body custom-card-body pt-2 m-0">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Partial("_CreateEdit", Model)
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-md btn-success" onclick="$('#IsApproved').val(false);">
                     @Resources.Save
                </button>
                <button type="submit" class="btn btn-md btn-success" onclick="$('#IsApproved').val(true);">
                    @Resources.AddAndApprove
                </button>
                <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "TodayExpens")">
                    @Resources.BackToList
                </a>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/todayExpensInfo")
}
<script>
    $(document).ready(function () {
        var oldExpens = '@Model.TodayExpenseSeralized';
        TodayExpensInfoManager.Instance.Init({
            "no_data": "@Html.Raw(Resources.NoData)",
            "lst": CommonManager.Instance.NeowtonsoftDesealize(oldExpens),
            "grid_captions": {
                "name": "@Resources.Name",
                "cost": "@Resources.Cost",
                "delete": "@Resources.Delete"
            },
            "name_id":"#Name",
            "cost_id":"#Cost",
            "add_id": "#addNew",
            "grid_id": "#TodayExpensGrid",
            "is_details": false,
            "page_info": "@Resources.PageInfo",
            "currency": "@Resources.LE",
            "todayExpenseSeralized_id": "#TodayExpenseSeralized",
            "form_id": "#TodayExpensForm",
            "must_expens_msg": "@Resources.MustHaveExpenses"
        })
    });
</script>
