@model ClothesShop.Models.TodayExpenseViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.TodayExpenses;
}

@section scripts{
    @Scripts.Render("~/bundles/todayExpens")
    <script>
        $(document).ready(function () {
            TodayExpensManager.Instance.Init({
                "grid_id": "#TodayExpensGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "TodayExpens")",
                "grid_captions": {
                    "createdOn": "@Resources.Date",
                    "todayTotalExpensesCost": "@Resources.TotalExpenses"
                },

                "view_details": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.Details)" == "True",
                "details_url": "@Url.Action("Details", "TodayExpens")/",
                "details_text": "<i class='dx dx-icon-detailslayout'/> @Resources.Details",

                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "TodayExpens")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "TodayExpens")/",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteTodayExpense)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"
            });
        });
    </script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.Add))
    {
            <a href="@Url.Action("Create", "TodayExpens", new { area = "" })" class="btn btn-success mb-2">
                @ClothesShop.Languages.Resources.AddExpenses <i class="dx dx-icon-add"></i>
            </a>
    }

    <div id="TodayExpensGrid">
    </div>
</div>