@model ClothesShop.Models.TransactionsSearchViewModel
@using ClothesShop.Languages
@{
    ViewBag.Title = ClothesShop.Languages.Resources.TodaySummary;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid dir-rtl">
    <div class="col-md-12">
        <div class="card col-sm-12 col-md-6 d-inline-block">
            <div class="card-header pb-0">
                @Resources.TodaySummary
            </div>
            <div class="card-body pt-0">
                <hr />
                <div class="col-sm-12 col-md-6 d-inline-block">
                    <div class="col-sm-12">
                        <label>@Resources.TotalSelled : </label>
                        <span>@ViewBag.TotalTodaySales  @Resources.LE</span>
                    </div>
                    <div class="col-sm-12">
                        <label>@Resources.TotalExpenses : </label>
                        <span>@ViewBag.TotalTodayExpenses  @Resources.LE</span>
                    </div>
                    <div class="col-sm-12">
                        <label>@Resources.TotalRemaining : </label>
                        <span>@ViewBag.TotalTodayRemaining  @Resources.LE</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 d-inline-block" style="text-align:left;">
                    <div class="col-sm-12 col-md-12">
                        <a href="@Url.Action("Index","TodaySales")" class="btn btn-outline-primary">
                            @Resources.TodaySales
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <a href="@Url.Action("Index","TodayExpens")" class="btn btn-outline-primary">
                            @Resources.TodayExpenses
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-sm-12 col-md-5 d-inline-block">
            <div class="card-header pb-0">
                @Resources.WeekSummary
            </div>
            <div class="card-body pt-0">
                <hr />
                <div class="col-sm-12 txt-right">
                    <label>@Resources.TotalSelled : </label>
                    <span id="sTotalSelled"></span>
                </div>
                <div class="col-sm-12 txt-right">
                    <label>@Resources.TotalExpenses : </label>
                    <span id="sTotalExpenses"></span>
                </div>
                <div class="col-sm-12 txt-right">
                    <label>@Resources.TotalRemaining : </label>
                    <span id="sTotalRemaining"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3 mb-3 d-inline-block">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartDate)
                @Html.HiddenFor(m => m.StartDate)
                <div id="StartDateID"></div>
            </div>
        </div>
        <div class="col-md-3 mb-3 d-inline-block">
            <div class="col-md-12">
                @Html.LabelFor(model => model.EndDate)
                @Html.HiddenFor(m => m.EndDate)
                <div id="EndDateID"></div>
            </div>
        </div>
        <div class="col-md-1 mb-3 d-inline-block">
            <div class="col-md-12">
                <a href="#" id="searchBtn" type="button" class="btn btn-md btn-primary">
                    <i class="dx dx-icon-search"></i> @Resources.Search
                </a>
            </div>
        </div>
        <div class="col-md-1 mb-3 d-inline-block">
            <div class="col-md-12">
                <a href="#" id="preWeekBtn" type="button" class="btn btn-lg btn-primary">
                    <i class="dx dx-icon-arrowright"></i> @Resources.Previous
                </a>
            </div>
        </div>

        <div class="col-md-1 mb-3 d-inline-block">
            <div class="col-md-12">
                <a href="#" id="nextWeekBtn" type="button" class="btn btn-lg btn-primary">
                    @Resources.Next <i class="dx dx-icon-arrowleft"></i>
                </a>
            </div>
        </div>

    </div>
    <div id="TodayTransactionsGrid"></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/todayTransactions")
    <script>
    var days =
        ['@Resources.Sunday',
        '@Resources.Monday',
        '@Resources.Tuesday',
        '@Resources.Wednesday',
        '@Resources.Thursday',
        '@Resources.Friday',
        '@Resources.Saturday'];
        $(document).ready(function () {
            TodayTransactionsManager.Instance.Init({
                "grid_id": "#TodayTransactionsGrid",
                "grid_data_url": "@Url.Action("GetAll", "TodayTransactions")",
                "grid_height":"calc(100vh - 420px)",
                "week_summary_url": "@Url.Action("GetWeekSummary", "TodayTransactions")",
                "grid_captions": {
                    "product_name": "@Resources.Product",
                    "day_one":"@Resources.Saturday",
                    "day_two":"@Resources.Sunday",
                    "day_three":"@Resources.Monday",
                    "day_four":"@Resources.Tuesday",
                    "day_five":"@Resources.Wednesday",
                    "day_six":"@Resources.Thursday",
                    "day_seven": "@Resources.Friday",
                    "total_number_of_pieces": "@Resources.TotalNumberOfPieces"
                },
                "search_btn": "#searchBtn",
                "next_btn": "#nextWeekBtn",
                "pre_btn": "#preWeekBtn",
                "total_selled_text": "@Resources.TotalSelled",
                "days_list": days,
                "start_date": {
                    "div_id":"#StartDateID",
                    "id": "#StartDate",
                    "message": "@Resources.Date"
                },
                "end_date": {
                    "div_id":"#EndDateID",
                    "id": "#EndDate",
                    "message": "@Resources.Date"
                },
                "interval": 7,
                "not_valid_msg": "@string.Format(Resources.CannotExccedDays, "7")",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All",
                "s_total_selled": "#sTotalSelled",
                "s_total_expenses": "#sTotalExpenses",
                "s_total_remaining":"#sTotalRemaining",
                "currency": "@Resources.LE"
            });
        });
    </script>
}