@using ClothesShop.Helpers
@{
    bool isRTL = Helper.IsRtl();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Images/logo.png" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/app.css" rel="stylesheet" />
    @Styles.Render("~/Content/common")
    @Styles.Render("~/Content/style")

    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    <script>
        $(function () {
            if (CommonManager.Instance.IsMobileDevice()) {
                $("#sidebar").removeClass("collapsed");
                $("#sidebar").addClass("collapsed");
                $("#sidebar").css("display", "block");
            }
        });
    </script>
</head>

<body class="overflow-auto" dir="rtl">
    <div class="wrapper">

        @Html.Partial("_Sidebar")

        <div class="main">
            @Html.Partial("~/Views/Shared/_TopNavbar.cshtml")

            <main class="content pb-0">
                <div class="container-fluid p-0">
                    <div id="loading">
                        <img src="~/Images/loading.gif" />
                    </div>
                    @RenderBody()
                </div>
            </main>

            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>
    </div>
    <script src="~/Scripts/js/app.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
