@model  ClothesShop.Models.EmployeeViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.UpdateEmployee;
}


<div class="container-fluid dir-rtl col-md-8 offset-md-2">
    @using (Html.BeginForm("Edit","Employees",FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.FrontLicenceURL)
        @Html.HiddenFor(model => model.FrontSSNURL)
        @Html.HiddenFor(model => model.BackLicenceURL)
        @Html.HiddenFor(model => model.BackSSNURL)

        <div class="card m-0">
            <div class="card-header pb-0">
                <h3 class="m-0">@Resources.UpdateEmployee</h3>
            </div>
            <div class="card-body custom-card-body pt-2 m-0">
                @Html.Partial("_PersonalInfomation", Model)
                <hr />
                @Html.Partial("_WorkInformation", Model)
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-md btn-success" id="submit">
                     @Resources.Save
                </button>
                <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "Employees")">
                    @Resources.BackToList
                </a>
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/employeesInfo")
<script>
        var deliveryMan = "@Html.Raw(ClothesShop.Languages.Resources.DeliveryMan)";
        var employee = "@Html.Raw(ClothesShop.Languages.Resources.Employee)";
        $(document).ready(function () {
            var _EmployeesManager = new EmployeesManager();
            EmployeesManager.prototype.OnChangeJob();
            EmployeesManager.prototype.Load();
            @{var birthdate = Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString(ClothesShop.Helpers.DateTimeFormatter.ViewingDateFormat) : "";}
            $("#BirthDate").val("@birthdate");
            @{var startWorkingDate = Model.StartWorkingDate.HasValue ? Model.StartWorkingDate.Value.ToString(ClothesShop.Helpers.DateTimeFormatter.ViewingDateFormat) : "";}
            $("#StartWorkingDate").val("@startWorkingDate");
        });
</script>
}