@model IEnumerable<ClothesShop.Models.EmployeeViewModel>
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.Employees;
}

@section scripts{
    @Scripts.Render("~/bundles/employees")
    <script>
        $(document).ready(function () {
            EmployeesManager.Instance.Init({
                "grid_id": "#EmployeesGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "Employees")",
                "grid_captions": {
                    "fullName": "@Resources.FullName",
                    "address": "@Resources.Address",
                    "mobileNumber1": "@Resources.MobileNumber1",
                    "mobileNumber2": "@Resources.MobileNumber2",
                },

                "view_details": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Details)" == "True",
                "details_url": "@Url.Action("Details", "Employees")/",
                "details_text": "<i class='dx dx-icon-detailslayout'/> @Resources.Details",
                

                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "Employees")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "Employees")/",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteEmployee)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"

            });
        });
    </script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Add))
    {
    <a href="@Url.Action("Create", "Employees", new { area = "" })" class="btn btn-success mb-2">
        @ClothesShop.Languages.Resources.AddEmployee  <i class="dx dx-icon-add"></i>
    </a>
    }

    <div id="EmployeesGrid">
    </div>
</div>