@model IEnumerable<ClothesShop.Models.EmployeeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.Employees;
}
<div class="container tableContainer">
    @if(ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees",ClothesShop.Enums.RoleType.Add))
    {
        <p class="f-left">
            <a href="@Url.Action("Create","Employees", new { area = "" })" class="btn btn-lg btn-outline-success">
                <i class="fa fa-plus"></i> @ClothesShop.Languages.Resources.AddEmployee
            </a>
        </p>
    }

    <table id="EmployeesGrid" class="table table-striped table-hover table-bordered table-responsive GeneralTable" width="100%" cellspacing="0">
        <thead>
            <tr class="theadData">
                <th class="width25" data-headerid="FullName" data-dir="desc" onclick="TableManager.prototype.Sort(this);"><i class="fa fa-arrow-down searchArrow"></i> @Html.DisplayNameFor(model => model.FullName)</th>
                <th class="width20"> @Html.DisplayNameFor(model => model.Address)</th>
                <th class="width10"> @Html.DisplayNameFor(model => model.MobileNumber1)</th>
                <th class="width10"> @Html.DisplayNameFor(model => model.MobileNumber2)</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr class="searchRow">
                <th class="padding0 width25">
                    <div class="searchInput">
                        <i class="fa fa-search"></i>
                        <input type="text" id="FullName" value="" class="form-control setMaxWidth" placeholder="@ClothesShop.Languages.Resources.Search" />
                    </div>
                </th>
                <th class="padding0 width20">
                    <div class="searchInput">
                        <i class="fa fa-search"></i>
                        <input type="text" id="Address" value="" class="form-control setMaxWidth" placeholder="@ClothesShop.Languages.Resources.Search" />
                    </div>
                </th>
                <th class="padding0 width10">
                    <div class="searchInput">
                        <i class="fa fa-search"></i>
                        <input type="text" id="MobileNumber1" value="" class="form-control setMaxWidth" placeholder="@ClothesShop.Languages.Resources.Search" />
                    </div>
                </th>
                <th class="padding0 width10">
                    <div class="searchInput">
                        <i class="fa fa-search"></i>
                        <input type="text" id="MobileNumber2" value="" class="form-control setMaxWidth" placeholder="@ClothesShop.Languages.Resources.Search" />
                    </div>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="container text-center">
    <ul id="Pager" class="pagination-sm"></ul>
</div>
@section scripts{
    <script>
        var msg = "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteEmployee)";
        var deleteError = "@Html.Raw(ClothesShop.Languages.Resources.ErrorWhileDeleting)";
        function ConfirmDeleteEmployee(id) {
            var url = '@Url.Action("Delete", "Employees")';
            var data = JSON.stringify({ id: id });
            CommonManager.prototype.ConfirmDelete(url, data);
        }

          var orderBy = {
            ColumnName: "Name",
            Direction: "desc",
        }
        var isUpdate = "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Edit)" == "True";
        var isDelete = "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Delete)" == "True";
        var isDetails = "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.Details)" == "True";
        var updateURL = "@Url.Action("Edit", "Employees")/";
        var detailsURL  = "@Url.Action("Details", "Employees")/";
        var dataURL ='@Url.Action("GetAll", "Employees")';
        var columns = [{ Name: "FullName", Class: "width25" }, { Name: "Address", Class: "width20" }, { Name: "MobileNumber1", Class: "width10" }, { Name: "MobileNumber2", Class: "width10" }, { Name: "DETAILS", Class: "" },  { Name: "EDIT", Class: "" }, { Name: "DELETE", Class: "" }];
        var searchColumns = [{ Name: "FullName", Type: "input" }, { Name: "Address", Type: "input" },{ Name: "MobileNumber1", Type: "input" },{ Name: "MobileNumber2", Type: "input" }];
        var deleteURL = "ConfirmDeleteEmployee";
        var gridId = "EmployeesGrid";
        $(document).ready(function () {
            var tableManager = new TableManager();
            TableManager.prototype.Init();
        })

    </script>
}