@model ClothesShop.Models.SalesRateViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.SalesRate;
}
@section scripts{
    @Scripts.Render("~/bundles/salesRates")
    <script>
    $(document).ready(function () {
            SalesRatesManager.Instance.Init({
                "grid_id": "#SalesRatesGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "SalesRates")",
                "grid_captions": {
                    "name": "@Resources.Name",
                    "from": "@Resources.From",
                    "to": "@Resources.To"
                },
                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("SalesRates", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "SalesRates")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("SalesRates", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "SalesRates")",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteSalesRate)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"
            });
        });
    </script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("SalesRates", ClothesShop.Enums.RoleType.Add))
    {
            <a href="@Url.Action("Create","SalesRates", new { area = "" })" class="btn btn-success mb-2">
                @Resources.Add <i class="dx dx-icon-add"></i>
            </a>
    }

    <div id="SalesRatesGrid">
    </div>
</div>