@model ClothesShop.Models.OrdersViewModel
@using ClothesShop.Languages
@using ClothesShop.Helpers
@using ClothesShop.Enums
@{
    ViewBag.Title = ClothesShop.Languages.Resources.Orders;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/orders")

<script>
    $(document).ready(function () {
        
        OrdersManager.Instance.Init({

            "grid_id": "#OrdersGrid",
            "grid_height": "calc(100vh - 200px)",
            "url": "@Url.Action("GetAll", "Orders")",
            "grid_captions": {
                "id": "@Resources.Code",
                "request_date": "@Resources.RequestDate",
                "customer_name": "@Resources.CustomerName",
                "mobile_number_1": "@Resources.MobileNumber1",
                "order_status": "@Resources.OrderStatus",
                "address": "@Resources.Address",
                "total": "@Resources.Total",
                "shipment_price": "@Resources.ShipmentPrice",
                "employee_name": "@Resources.DeliveryMan",
                "seller_name": "@Resources.Seller"
            },

            "view_details": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.Details)" == "True",
            "details_url": "@Url.Action("Details", "Orders")/",
            "details_text": "<i class='dx dx-icon-detailslayout'/> @Resources.Details",

                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "Orders")/",
            "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_print": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.Details)" == "True",
                "print_url": "@Url.Action("ExportToPDF", "Orders")/",
            "print_text": "<i class='dx dx-icon-print'/> @Resources.Print",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "Orders")/",
            "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",
                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteOrder)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "order_statuses": '@(Newtonsoft.Json.JsonConvert.SerializeObject(Helper.EnumToList<OrderStatuses>()))',
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All",
                "print_multiple_btn": "#PrintMultipleBtn",
                "not_valid_msg": "@Resources.SelectAtLeastOneOrder",
                "print_multiple_url": "@Url.Action("ExportMultipleBills", "Orders")/",
                "root_url":"@Url.Content("/")"
            });
        });
</script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.Add))
    {

        <a href="@Url.Action("Create", "Orders", new { area = "" })" class="btn btn-success mb-2">
            @ClothesShop.Languages.Resources.AddOrder <i class="dx dx-icon-add"></i>
        </a>
    }
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.Details))
    {
        <a href="#" id="PrintMultipleBtn" class="btn btn-secondary mb-2">
            @ClothesShop.Languages.Resources.Print <i class="dx dx-icon-print"></i>
        </a>
    }

    <div id="OrdersGrid">
    </div>
</div>