@model ClothesShop.Models.TransactionsSearchViewModel
@using ClothesShop.Languages
@{
    ViewBag.Title = ClothesShop.Languages.Resources.MonthlyStatistics;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid dir-rtl">
    <div class="col-md-3 mb-3 d-inline-block">
        <div class="col-md-12">
            @Html.LabelFor(model => model.StartDate)
            @Html.HiddenFor(m => m.StartDate)
            <div id="StartDateID"></div>
        </div>
    </div>
    <div class="col-md-3 mb-3 d-inline-block">
        <div class="col-md-12">
            @Html.LabelFor(model => model.EndDate)
            @Html.HiddenFor(m => m.EndDate)
            <div id="EndDateID"></div>
        </div>
    </div>
    <div class="col-md-1 mb-3 d-inline-block">
        <div class="col-md-12">
            <a href="#" id="searchBtn" type="button" class="btn btn-md btn-primary">
                <i class="dx dx-icon-search"></i> @Resources.Search
            </a>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>@Resources.MonthlyStatistics</h5>
            </div>
            <div class="card-body pt-0 pb-0">
                <div class="col-md-5 mb-3 d-inline-block">
                    <label>@Resources.PaymentAverage : </label>
                    <span id="PaymentAverage"></span>
                </div>
                <div class="col-md-5 mb-3 d-inline-block">
                    <label>@Resources.PaymentRate : </label>
                    <span id="PaymentRate"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div id="MonthlyStatisticsChart"></div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/Monthlystatistics")
    <script>
        $(document).ready(function () {
            MonthlyStatisticsManager.Instance.Init({
                "chart_id": "#MonthlyStatisticsChart",
                "url": "@Url.Action("GetStatistics", "Statistics")",
                "search_btn": "#searchBtn",
                "next_btn": "#nextMonthBtn",
                "pre_btn": "#preMonthBtn",
                "total_selled_text": "@Resources.TotalSelled",
                "start_date": {
                    "div_id":"#StartDateID",
                    "id": "#StartDate",
                    "message": "@Resources.Date"
                },
                "end_date": {
                    "div_id":"#EndDateID",
                    "id": "#EndDate",
                    "message": "@Resources.Date"
                },
                "interval": 31,
                "not_valid_msg": "@string.Format(Resources.CannotExccedDays, "31")",
                "chart_title": "@Resources.MonthlyStatistics",
                "chart_hover_msg": "@Resources.TotalSelled",
                "no_data": "@Resources.NoData",
                "payment_average": "#PaymentAverage",
                "payment_rate": "#PaymentRate",
                "currency": "@Resources.LE"
            });
        });
    </script>
}