@using ClothesShop.Helpers
@{
    bool isRTL = Helper.IsRtl();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Layout")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Layout")
    @Styles.Render("~/Content/fontAwesome")
    @Scripts.Render("~/Scripts/moment")
  
    @RenderSection("styles", required: false)
    @Styles.Render("~/Styles/select")
    @Scripts.Render("~/Scripts/select")
    @if (isRTL)
    {
        @Styles.Render("~/Content/Layout-ar")
        @Styles.Render("~/Styles/select-ar")
    }
    <script>
        var xPosition = "@(Html.Raw((isRTL == true) ? "left" : "right"))";
        var lang = "@Html.Raw(isRTL ? "ar" : "en")";
    </script>
</head>
<body>
    @{
        var userName = "";
        if (Session["UserName"] != null)
        {
            userName = Session["UserName"].ToString();
        }
    }
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/logo.png" class="floatRight" style="height:50px;" />
                <ul class="nav navbar-nav" style="padding:0px;font-size:25px;color:black">
                    <li>@Html.ActionLink(ClothesShop.Languages.Resources.Elba4a, "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "textBlack" })</li>
                </ul>
                <div style="display: contents; height: 100%; width: 100%;">

                    @*@Html.ActionLink(, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(ClothesShop.Languages.Resources.Home, "Index", "Home", new { area = "" }, null)</li>
                </ul>
                <div class="dropdown" id="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdown-toggle">
                        <span class="fa fa-user" id="UserIcon"></span>
                        @ClothesShop.Languages.Resources.Welcome
                        <span id="UserName">@userName</span>
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu" id="dropdown-menu">
                        @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Roles") || ClothesShop.Helpers.RolesHelper.CheckRoleRight("Logins"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Setting", new { area = "Settings" })">
                                    <span class="fa fa-gears"></span>
                                    @ClothesShop.Languages.Resources.Settings
                                </a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Logout", "Account", new { area = "" })">
                                <span class="fa fa-sign-out"></span>
                                @ClothesShop.Languages.Resources.Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 body-content" style="padding:0px">
        <div class="col-md-2" style="padding:0px;" id="wrapperContainer">
            <div class="d-flex" id="wrapper">
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action" href="#" onclick="LayoutManager.prototype.CollapseMenu();" id="collapseLeftMenu">
                            <i class="glyphicon glyphicon-align-justify	"></i>
                        </a>
                        @{
                            bool isViewOrders = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders", ClothesShop.Enums.RoleType.View);
                            bool isViewDelivery = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Delivery", ClothesShop.Enums.RoleType.View);
                            bool isViewTodayTransactions = ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayTransactions", ClothesShop.Enums.RoleType.View);
                            bool isViewTodaySales = ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.View);
                            bool isViewTodayExpens = ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.View);
                            bool isViewProductSuppliers = ClothesShop.Helpers.RolesHelper.CheckRoleRight("ProductSuppliers", ClothesShop.Enums.RoleType.View);
                            bool isViewProductsSummary = ClothesShop.Helpers.RolesHelper.CheckRoleRight("ProductsSummary", ClothesShop.Enums.RoleType.View);
                        }
                        @if (isViewOrders || isViewDelivery || isViewTodayTransactions
|| isViewTodaySales || isViewTodayExpens || isViewProductSuppliers || isViewProductsSummary)
                        {
                            <!-- Start First Menu Item and Sub item-->
                            <a data-toggle="collapse" href="#HomeMenu" role="button" aria-expanded="false" aria-controls="HomeMenu" class="list-group-item list-group-item-action" id="HomeMenuItem">
                                <img class="sidebarImage" src="~/Images/home.png" />
                                <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Home</span>
                                <span class="fa fa-chevron-down caretMenuDown"></span>
                            </a><div id="HomeMenu" class="collapse list-group list-group-flush subMenu">
                                @if (isViewOrders)
                                {
                                    <a id="Orders" href="@Url.Action("Index", "Orders")" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/orders.png" />
                                        <span class="sidebarSpan">@ClothesShop.Languages.Resources.Orders</span>
                                    </a>
                                }
                                @if (isViewDelivery)
                                {
                                    <a id="Delivery" href="@Url.Action("Index", "Delivery")" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/motorcycle.png" />
                                        <span class="sidebarSpan">@ClothesShop.Languages.Resources.OrdersDelivery</span>
                                    </a>
                                }
                                @if (isViewTodayTransactions || isViewTodaySales || isViewTodayExpens)
                                {
                                    <a data-toggle="collapse" href="#TodayTransactions" role="button" aria-expanded="false" aria-controls="TodayTransactions" class="list-group-item list-group-item-action" id="TodayTransactionsItem">
                                        <img class="sidebarImage" src="~/Images/transactions.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.TodayTransactions</span>
                                        <span class="fa fa-chevron-down caretMenuDown"></span>
                                    </a><div id="TodayTransactions" class="collapse list-group list-group-flush subMenu">
                                        @if (isViewTodayTransactions)
                                        {
                                            <a id="TodaySummary" href="@Url.Action("Index", "TodayTransactions")" class="list-group-item list-group-item-action">
                                                <img class="sidebarImage" src="~/Images/dashboard.png" />
                                                <span class="sidebarSpan">@ClothesShop.Languages.Resources.TodaySummary</span>
                                            </a>
                                        }
                                        @if (isViewTodaySales)
                                        {
                                            <a id="TodaySales" href="@Url.Action("Index", "TodaySales")" class="list-group-item list-group-item-action">
                                                <img class="sidebarImage" src="~/Images/suppliers.png" />
                                                <span class="sidebarSpan">@ClothesShop.Languages.Resources.TodaySales</span>
                                            </a>
                                        }
                                        @if (isViewTodayExpens)
                                        {
                                            <a id="TodayExpenses" href="@Url.Action("Index", "TodayExpens")" class="list-group-item list-group-item-action">
                                                <img class="sidebarImage" src="~/Images/dashboard.png" />
                                                <span class="sidebarSpan">@ClothesShop.Languages.Resources.TodayExpenses</span>
                                            </a>
                                        }
                                    </div>
                                }
                                @if (isViewProductSuppliers || isViewProductsSummary)
                                {
                                    <a data-toggle="collapse" href="#StoringRecords" role="button" aria-expanded="false" aria-controls="StoringRecords" class="list-group-item list-group-item-action" id="StoringRecordsItem">
                                        <img class="sidebarImage" src="~/Images/edit.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.StoringRecords</span>
                                        <span class="fa fa-chevron-down caretMenuDown"></span>
                                    </a><div id="StoringRecords" class="collapse list-group list-group-flush subMenu">
                                        @if (isViewProductSuppliers)
                                        {
                                            <a id="ProductSuppliers" href="@Url.Action("Index","ProductSuppliers")" class="list-group-item list-group-item-action">
                                                <img class="sidebarImage" src="~/Images/suppliers.png" />
                                                <span class="sidebarSpan">@ClothesShop.Languages.Resources.ProductSuppliers</span>
                                            </a>
                                        }
                                        @if (isViewProductsSummary)
                                        {
                                            <a id="ProductSummary" href="@Url.Action("Index","ProductsSummary")" class="list-group-item list-group-item-action">
                                                <img class="sidebarImage" src="~/Images/dashboard.png" />
                                                <span class="sidebarSpan">@ClothesShop.Languages.Resources.ProductSummary</span>
                                            </a>
                                        }
                                    </div>
                                }
                            </div>
                            <!-- End First Menu Item and Sub item-->
                        }
                        @{
                            bool isViewEmployees = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.View);
                            bool isViewProducts = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Products", ClothesShop.Enums.RoleType.View);
                            bool isViewShipmentCompanies = ClothesShop.Helpers.RolesHelper.CheckRoleRight("ShipmentCompanies", ClothesShop.Enums.RoleType.View);
                            bool isViewSuppliers = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Suppliers", ClothesShop.Enums.RoleType.View);
                            bool isViewColors = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Colors", ClothesShop.Enums.RoleType.View);
                            bool isViewSizes = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Sizes", ClothesShop.Enums.RoleType.View);
                        }
                        @if (isViewEmployees || isViewProducts || isViewShipmentCompanies || isViewSuppliers || isViewColors || isViewSizes)
                        {
                            <!-- Start Second Menu Item and Sub item-->
                            <a data-toggle="collapse" href="#OtherInfo" role="button" aria-expanded="false" aria-controls="OtherInfo" class="list-group-item list-group-item-action" id="OtherInfoItem">
                                <img class="sidebarImage" src="~/Images/others.png" />
                                <span class="sidebarSpan"> @ClothesShop.Languages.Resources.OtherInfo</span>
                                <span class="fa fa-chevron-down caretMenuDown"></span>
                            </a><div id="OtherInfo" class="collapse list-group list-group-flush subMenu">

                                @if (isViewEmployees)
                                {
                                    <a id="Employees" href="@Url.Action("Index","Employees", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/users.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Employees</span>
                                    </a>
                                }
                                @if (isViewProducts)
                                {
                                    <a id="Products" href="@Url.Action("Index","Products", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/products.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Products</span>
                                    </a>
                                }
                                @if (isViewShipmentCompanies)
                                {
                                    <a id="ShipmentCompanies" href="@Url.Action("Index","ShipmentCompanies", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/Shipment-company.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.ShipmentCompanies</span>
                                    </a>
                                }
                                @if (isViewSuppliers)
                                {
                                    <a id="Suppliers" href="@Url.Action("Index","Suppliers", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/supplier.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Suppliers</span>
                                    </a>
                                }
                                @if (isViewColors)
                                {
                                    <a id="Colors" href="@Url.Action("Index","Colors", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/colors.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Colors</span>
                                    </a>
                                }
                                @if (isViewSizes)
                                {
                                    <a id="Sizes" href="@Url.Action("Index","Sizes", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/sizes.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Sizes</span>
                                    </a>
                                }
                            </div>
                            <!-- End Second Menu Item and Sub item-->
                        }

                        @{
                            bool isViewWeeklyStatistics = ClothesShop.Helpers.RolesHelper.CheckRoleRight("WeeklyStatistics", ClothesShop.Enums.RoleType.View);
                            bool isViewMonthlyStatistics = ClothesShop.Helpers.RolesHelper.CheckRoleRight("MonthlyStatistics", ClothesShop.Enums.RoleType.View);
                            bool isViewSalesRates = ClothesShop.Helpers.RolesHelper.CheckRoleRight("SalesRates", ClothesShop.Enums.RoleType.View);
                        }
                        @if (isViewWeeklyStatistics || isViewMonthlyStatistics || isViewSalesRates)
                        {
                            <!-- Start First Menu Item and Sub item-->
                            <a data-toggle="collapse" href="#StatisticsMenu" role="button" aria-expanded="false" aria-controls="StatisticsMenu" class="list-group-item list-group-item-action" id="StatisticsMenuItem">
                                <img class="sidebarImage" src="~/Images/dashboard.png" />
                                <span class="sidebarSpan"> @ClothesShop.Languages.Resources.Statistics</span>
                                <span class="fa fa-chevron-down caretMenuDown"></span>
                            </a>
                            <div id="StatisticsMenu" class="collapse list-group list-group-flush subMenu">
                                @if (isViewWeeklyStatistics)
                                {
                                    <a id="WeeklyStatistics" href="@Url.Action("Weekly","Statistics", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/bar-chart.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.WeeklyStatistics</span>
                                    </a>
                                }
                                @if (isViewMonthlyStatistics)
                                {
                                    <a id="MonthlyStatistics" href="@Url.Action("Monthly","Statistics", new { area = "" })" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/bar-chart.png" />
                                        <span class="sidebarSpan"> @ClothesShop.Languages.Resources.MonthlyStatistics</span>
                                    </a>
                                }
                                @if (isViewSalesRates)
                                {
                                    <a id="SalesRate" href="@Url.Action("Index", "SalesRates")" class="list-group-item list-group-item-action">
                                        <img class="sidebarImage" src="~/Images/dashboard.png" />
                                        <span class="sidebarSpan">@ClothesShop.Languages.Resources.SalesRate</span>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10" id="bodyContainer">
            <div id="loading">
                <img src="~/Images/loading.gif" />
            </div>
            @RenderBody()
        </div>
        <footer id="footer">
            <p>Copyrights &copy; @DateTime.Now.Year Heaven Team. All Rights Reserved</p>
        </footer>
    </div>
    <script>
        var yesText = '@Html.Raw(ClothesShop.Languages.Resources.YesText)';
        var noText = '@Html.Raw(ClothesShop.Languages.Resources.NoText)';
        var uniqueID = "ID";
        // datatable section
        var deleteError = "@Html.Raw(ClothesShop.Languages.Resources.ErrorWhileDeleting)";
        var pageSize = 20;
        var maxHeight = "calc(100vh - 380px)";
        var noData = "@Html.Raw(ClothesShop.Languages.Resources.NoData)";
        var previous = "@Html.Raw(ClothesShop.Languages.Resources.Previous)";
        var next = "@Html.Raw(ClothesShop.Languages.Resources.Next)";
        var processing = "@Html.Raw(ClothesShop.Languages.Resources.Processing)";
        var info = "@string.Format(ClothesShop.Languages.Resources.ShowingRecords , "_PAGE_","_PAGES_")";
        var searchTitle = "@Html.Raw(ClothesShop.Languages.Resources.Search)";
        var currencyLE = " @Html.Raw(ClothesShop.Languages.Resources.LE) ";

         var first = "@ClothesShop.Languages.Resources.First";
        var previous = "@ClothesShop.Languages.Resources.Previous";
        var next = "@ClothesShop.Languages.Resources.Next";
        var last = "@ClothesShop.Languages.Resources.Last";

        var noDataText = "@ClothesShop.Languages.Resources.NoData";
        var updateText = "@ClothesShop.Languages.Resources.Update";
        var deleteText = "@ClothesShop.Languages.Resources.Delete";
        var printText = "@ClothesShop.Languages.Resources.Print";
        var detailsText = "@ClothesShop.Languages.Resources.Details";

        var viewName = "";
        var addText = "";
        $(document).ready(function () {
            var layoutManager = new LayoutManager();
            var commonManager = new CommonManager();
            LayoutManager.prototype.ShowHideLoading(false);
            $(".SelectDropDownList").attr("data-live-search", "true");
            $(".SelectDropDownList").addClass("selectpicker show-tick");
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
