@using ClothesShop.Languages
@{
    bool isViewOrders1 = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders1", ClothesShop.Enums.RoleType.View);
    bool isViewOrders2 = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Orders2", ClothesShop.Enums.RoleType.View);
    bool isViewDelivery = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Delivery", ClothesShop.Enums.RoleType.View);
    bool isViewTodayTransactions = ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayTransactions", ClothesShop.Enums.RoleType.View);
    bool isViewTodaySales = ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.View);
    bool isViewTodayExpens = ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodayExpens", ClothesShop.Enums.RoleType.View);
    bool isViewProductSuppliers = ClothesShop.Helpers.RolesHelper.CheckRoleRight("ProductSuppliers", ClothesShop.Enums.RoleType.View);
    bool isViewProductsSummary = ClothesShop.Helpers.RolesHelper.CheckRoleRight("ProductsSummary", ClothesShop.Enums.RoleType.View);
    bool isViewBalance = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Balance", ClothesShop.Enums.RoleType.View);
}

@{
    bool isViewEmployees = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Employees", ClothesShop.Enums.RoleType.View);
    bool isViewProducts = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Products", ClothesShop.Enums.RoleType.View);
    bool isViewShipmentCompanies = ClothesShop.Helpers.RolesHelper.CheckRoleRight("ShipmentCompanies", ClothesShop.Enums.RoleType.View);
    bool isViewSuppliers = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Suppliers", ClothesShop.Enums.RoleType.View);
    bool isViewColors = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Colors", ClothesShop.Enums.RoleType.View);
    bool isViewSizes = ClothesShop.Helpers.RolesHelper.CheckRoleRight("Sizes", ClothesShop.Enums.RoleType.View);
}

@{
    bool isViewWeeklyStatistics = ClothesShop.Helpers.RolesHelper.CheckRoleRight("WeeklyStatistics", ClothesShop.Enums.RoleType.View);
    bool isViewMonthlyStatistics = ClothesShop.Helpers.RolesHelper.CheckRoleRight("MonthlyStatistics", ClothesShop.Enums.RoleType.View);
    bool isViewSalesRates = ClothesShop.Helpers.RolesHelper.CheckRoleRight("SalesRates", ClothesShop.Enums.RoleType.View);
}
<style>
    .sidebarImage{
        height:15px;
        width:15px;
        margin-left: 5px;
    }
</style>
<nav id="sidebar" class="sidebar js-sidebar pull-right collapsed">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand sidebar-link" href="@Url.Action("Index", "Home", new { area = ""})">
            <img src="~/Images/logo.png" style="height:50px;" />
            <span>EY Store</span>
        </a>
        <ul class="sidebar-nav">
            @if (isViewOrders1 || isViewOrders2 || isViewDelivery)
            {
                <li class="sidebar-header">
                    @Resources.Home
                </li>
                if (isViewOrders1)
                {
                    <li class="sidebar-item active" id="Orders1">
                        <a class="sidebar-link" href="@Url.Action("Index", "Orders", new { area = "", PageID = "137D0514-F286-48AA-BCD4-B7FE7C5B79D8" })">
                            <img class="sidebarImage align-middle" src="~/Images/orders.png" /> <span class="align-middle">@Resources.Orders - EY Store</span>
                        </a>
                    </li>
                }
                if (isViewOrders2) { 
                    <li class="sidebar-item active" id="Orders2">
                        <a class="sidebar-link" href="@Url.Action("Index", "Orders",new { area = "", PageID = "80DB4628-F4D2-45EA-B82F-B0E2B7E9FD09" })">
                            <img class="sidebarImage align-middle" src="~/Images/orders.png" /> <span class="align-middle">@Resources.Orders - Wolf Store</span>
                        </a>
                    </li>
                }

                if (isViewDelivery)
                {
                    <li class="sidebar-item" id="Delivery">
                        <a class="sidebar-link" href="@Url.Action("Index", "Delivery")">
                            <img class="sidebarImage align-middle" src="~/Images/motorcycle.png" /> <span class="align-middle">@Resources.OrdersDelivery</span>
                        </a>
                    </li>
                }
            }
            @if (isViewBalance)
            {
                <li class="sidebar-header">
                    @Resources.StatisticsAndBalance
                </li>
                <li class="sidebar-item active" id="EmployeeStatistics">
                    <a class="sidebar-link" href="@Url.Action("Index", "EmployeeStatistics")">
                        <img class="sidebarImage align-middle" src="~/Images/pie-chart.png" /> <span class="align-middle">@Resources.EmployeesStatistics</span>
                    </a>
                </li>

                <li class="sidebar-item active" id="EmployeeBalance">
                    <a class="sidebar-link" href="@Url.Action("Index", "EmployeeBalance")">
                        <img class="sidebarImage align-middle" src="~/Images/money.png" /> <span class="align-middle">@Resources.MoneyTransactions</span>
                    </a>
                </li>
            }

            @if (isViewTodayTransactions || isViewTodaySales || isViewTodayExpens)
            {
                <li class="sidebar-header">
                    @Resources.TodayTransactions
                </li>
                if (isViewTodayTransactions)
                {
                    <li class="sidebar-item" id="TodayTransactions">

                        <a class="sidebar-link" href="@Url.Action("Index", "TodayTransactions")">
                            <img class="sidebarImage align-middle" src="~/Images/dashboard.png" /> <span class="align-middle">@Resources.TodaySummary</span>
                        </a>
                    </li>
                }
                if (isViewTodaySales)
                {
                    <li class="sidebar-item" id="TodaySales">
                        <a class="sidebar-link" href="@Url.Action("Index", "TodaySales")">
                            <img class="sidebarImage align-middle" src="~/Images/suppliers.png" /><span class="align-middle">@Resources.TodaySales</span>
                        </a>
                    </li>
                }
                if (isViewTodayExpens)
                {
                    <li class="sidebar-item" id="TodayExpens">
                        <a class="sidebar-link" href="@Url.Action("Index", "TodayExpens")">
                            <img class="sidebarImage align-middle" src="~/Images/dashboard.png" /><span class="align-middle">@Resources.TodayExpenses</span>
                        </a>
                    </li>
                }
            }

            @if (isViewProductSuppliers || isViewProductsSummary)
            {
                <li class="sidebar-header">
                    @Resources.StoringRecords
                </li>
                if (isViewProductSuppliers)
                {
                    <li class="sidebar-item" id="ProductSuppliers">

                        <a class="sidebar-link" href="@Url.Action("Index", "ProductSuppliers")">
                            <img class="sidebarImage align-middle" src="~/Images/suppliers.png" /> <span class="align-middle">@Resources.ProductSuppliers</span>
                        </a>
                    </li>
                }
                if (isViewProductsSummary)
                {
                    <li class="sidebar-item" id="ProductsSummary">

                        <a class="sidebar-link" href="@Url.Action("Index", "ProductsSummary")">
                            <img class="sidebarImage align-middle" src="~/Images/dashboard.png" /> <span class="align-middle">@Resources.ProductSummary</span>
                        </a>
                    </li>
                }
            }

            @if (isViewEmployees || isViewProducts || isViewShipmentCompanies
|| isViewSuppliers || isViewColors || isViewSizes)
            {
                <li class="sidebar-header">
                    @Resources.OtherInfo
                </li>
                if (isViewEmployees)
                {
                    <li class="sidebar-item active" id="Employees">

                        <a class="sidebar-link" href="@Url.Action("Index", "Employees")">
                            <img class="sidebarImage align-middle" src="~/Images/users.png" /> <span class="align-middle">@Resources.Employees</span>
                        </a>
                    </li>
                }

                if (isViewProducts)
                {
                    <li class="sidebar-item" id="Products">

                        <a class="sidebar-link" href="@Url.Action("Index", "Products")">
                            <img class="sidebarImage align-middle" src="~/Images/products.png" /> <span class="align-middle">@Resources.Products</span>
                        </a>
                    </li>
                }
                if (isViewShipmentCompanies)
                {
                    <li class="sidebar-item" id="ShipmentCompanies">

                        <a class="sidebar-link" href="@Url.Action("Index", "ShipmentCompanies")">
                            <img class="sidebarImage align-middle" src="~/Images/Shipment-company.png" /><span class="align-middle">@Resources.ShipmentCompanies</span>
                        </a>
                    </li>
                }
                if (isViewSuppliers)
                {
                    <li class="sidebar-item" id="Suppliers">

                        <a class="sidebar-link" href="@Url.Action("Index", "Suppliers")">
                            <img class="sidebarImage align-middle" src="~/Images/suppliers.png" /> <span class="align-middle">@Resources.Suppliers</span>
                        </a>
                    </li>
                }
                if (isViewColors)
                {
                    <li class="sidebar-item" id="Colors">

                        <a class="sidebar-link" href="@Url.Action("Index", "Colors")">
                            <img class="sidebarImage align-middle" src="~/Images/colors.png" /><span class="align-middle">@Resources.Colors</span>
                        </a>
                    </li>
                }
                if (isViewSizes)
                {
                    <li class="sidebar-item" id="Sizes">

                        <a class="sidebar-link" href="@Url.Action("Index", "Sizes")">
                            <img class="sidebarImage align-middle" src="~/Images/sizes.png" /> <span class="align-middle">@Resources.Sizes</span>
                        </a>
                    </li>
                }
            }


            @if (isViewWeeklyStatistics || isViewMonthlyStatistics || isViewSalesRates)
            {

                <li class="sidebar-header">
                    @Resources.Statistics
                </li>
                if (isViewWeeklyStatistics)
                {
                    <li class="sidebar-item active" id="WeeklyStatistics">

                        <a class="sidebar-link" href="@Url.Action("Weekly", "Statistics")">
                            <img class="sidebarImage align-middle" src="~/Images/bar-chart.png" /> <span class="align-middle">@Resources.WeeklyStatistics</span>
                        </a>
                    </li>
                }

                if (isViewMonthlyStatistics)
                {
                    <li class="sidebar-item" id="MonthlyStatistics">

                        <a class="sidebar-link" href="@Url.Action("Monthly", "Statistics")">
                            <img class="sidebarImage align-middle" src="~/Images/bar-chart.png" /> <span class="align-middle">@Resources.MonthlyStatistics</span>
                        </a>
                    </li>
                }
                if (isViewSalesRates)
                {
                    <li class="sidebar-item" id="SalesRates">

                        <a class="sidebar-link" href="@Url.Action("Index", "SalesRates")">
                            <img class="sidebarImage align-middle" src="~/Images/dashboard.png" /> <span class="align-middle">@Resources.SalesRate</span>
                        </a>
                    </li>
                }
            }
        </ul>
</div>
</nav>
