@model ClothesShop.Models.ProductSuppliersViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.EditProductSupplier;
}
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.ID)
        @Html.HiddenFor(model=>model.CreatedBy)
        @Html.HiddenFor(model=>model.CreatedOn)
        <div class="form-horizontal col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@ClothesShop.Languages.Resources.EditProductSupplier</h4>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-xs-12 margin5">
                            @Html.LabelFor(model => model.TransactionTypeID, htmlAttributes: new { @class = "control-label" })
                            <span class="text-danger">*</span>
                        </div>

                        <div class="col-xs-12  col-md-6 f-right">
                            @Html.DropDownListFor(model => model.TransactionTypeID, new SelectList(ClothesShop.Helpers.Helper.EnumToList<ClothesShop.Enums.TransactionTypes>(), "ID", "Name"), new { @class = "form-control col-xs-12 f-right SelectDropDownList" })
                            @Html.ValidationMessageFor(model => model.TransactionTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12 margin5">
                            @Html.LabelFor(model => model.SupplierID, htmlAttributes: new { @class = "control-label" })
                            <span class="text-danger">*</span>
                        </div>

                        <div class="col-xs-12  col-md-6 f-right">
                            @Html.DropDownListFor(model => model.SupplierID, new SelectList(ClothesShop.Helpers.Helper.GetSuppliers(), "ID", "Name"), new { @class = "form-control col-xs-12 f-right SelectDropDownList" })
                            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 margin5">
                            @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label" })
                            <span class="text-danger">*</span>
                        </div>

                        <div class="col-xs-12  col-md-6 f-right">
                            @Html.DropDownListFor(model => model.ProductID, new SelectList(ClothesShop.Helpers.Helper.GetProducts(), "ID", "Name"), new { @class = "form-control col-xs-12 f-right SelectDropDownList" })
                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 margin5">
                            @Html.LabelFor(model => model.NumberOfPieces, htmlAttributes: new { @class = "control-label" })
                            <span class="text-danger">*</span>
                        </div>

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NumberOfPieces, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumberOfPieces, "", new { @class = "text-danger col-xs-12 padding0" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 margin5">
                            @Html.LabelFor(model => model.OrginalPrice, htmlAttributes: new { @class = "control-label" })
                            <span class="text-danger">*</span>
                        </div>

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.OrginalPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OrginalPrice, "", new { @class = "text-danger col-xs-12 padding0" })
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6 f-right txt-right">
                            <button type="submit" class="btn btn-lg btn-success">
                                @ClothesShop.Languages.Resources.Save
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6 f-left txt-left">
                            @Html.ActionLink(ClothesShop.Languages.Resources.BackToList, "Index", "", htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>