@model ClothesShop.Models.ProductSuppliersViewModel
@using ClothesShop.Languages
@using ClothesShop.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.EditProductSupplier;
}
<div class="container-fluid dir-rtl col-md-8 offset-md-2">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedOn)

        <div class="card">
            <div class="card-header pb-0">
                <h4 class="m-0">@Resources.EditProductSupplier</h4>
            </div>
            <div class="card-body custom-card-body pt-2 m-0">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Partial("_CreateEdit", Model)
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-lg btn-success">
                    @ClothesShop.Languages.Resources.Save
                </button>
                <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "ProductSuppliers")">
                    @Resources.BackToList
                </a>

            </div>
        </div>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/productSupplierInfo")
    <script>


        $(document).ready(function () {
            ProductSupplierInfoManager.Instance.Init({
                "transactions": {
                    "lst": CommonManager.Instance.NeowtonsoftDesealize('@Newtonsoft.Json.JsonConvert.SerializeObject(Helper.EnumToList<ClothesShop.Enums.TransactionTypes>())'),
                    "id": "#TransactionTypeID",
                    "div_id":"#TransactionType"
                },
                "suppliers": {
                    "lst": CommonManager.Instance.NeowtonsoftDesealize('@Newtonsoft.Json.JsonConvert.SerializeObject(Helper.GetSuppliers())'),
                    "id": "#SupplierID",
                    "div_id":"#Supplier"
                },
                "products": {
                    "lst":  CommonManager.Instance.NeowtonsoftDesealize('@Newtonsoft.Json.JsonConvert.SerializeObject(Helper.GetProducts())'),
                    "id": "#ProductID",
                    "div_id":"#Product"
                },
                "select": "@Html.Raw(Resources.Search)",
                "no_data": "@Html.Raw(Resources.NoData)"
            });
                });
    </script>
    
}