@model  ClothesShop.Models.ProductSuppliersViewModel
@using ClothesShop.Languages
@using ClothesShop.Helpers
@using ClothesShop.Enums
@{
    ViewBag.Title = ClothesShop.Languages.Resources.ProductSuppliers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/productSuppliers")

<script>
        $(document).ready(function () {
           ProductSuppliersManager.Instance.Init({
               "grid_id": "#ProductSuppliersGrid",
               "grid_height": "calc(100vh - 200px)",
               "url": "@Url.Action("GetAll", "ProductSuppliers")",
               "grid_captions": {
                   "createdOn": "@Resources.CreatedOn",
                   "productName": "@Resources.Product",
                   "supplierName": "@Resources.Supplier",
                   "transactionName": "@Resources.TransactionType",
                   "numberOfPieces": "@Resources.NumberOfPieces",
                   "orginalPrice": "@Resources.OriginalPrice",
                   "createdBy": "@Resources.CreatedBy",
                },

                "view_update": "@RolesHelper.CheckRoleRight("ProductSuppliers", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "ProductSuppliers")/",
               "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@RolesHelper.CheckRoleRight("ProductSuppliers", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "ProductSuppliers")/",
               "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",
                "confirm_delete": "@Html.Raw(Resources.AreYouSureDeleteProductSupplier)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "transistion_type": '@(Newtonsoft.Json.JsonConvert.SerializeObject(Helper.EnumToList<TransactionTypes>()))',
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"
            });
        });
</script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("ProductSuppliers", ClothesShop.Enums.RoleType.Add))
    {
            <a href="@Url.Action("Create", "ProductSuppliers", new { area = "" })" class="btn btn-success mb-2">
                @ClothesShop.Languages.Resources.AddProductSupplier <i class="dx dx-icon-add"></i>
            </a>
    }

    <div id="ProductSuppliersGrid">
    </div>
</div>