@model ClothesShop.Models.TodayTransactionsViewModel
@using ClothesShop.Languages
@{
    ViewBag.Title = ClothesShop.Languages.Resources.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid dir-rtl col-md-8 offset-md-2">
    <div class="card m-0">
        <div class="card-header pb-0">
            <h3 class="m-0">@Resources.Details</h3>
        </div>
        <div class="card-body custom-card-body pt-2 m-0">
            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.CreatedOn</label>
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.CreatedOn_, new { htmlAttributes = new { @class = "form-control form-control-md " } })
                </div>
            </div>


            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.TotalSellingPrice</label>
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.TodayTotalTransactionsSellingPrice, new { htmlAttributes = new { @class = "form-control form-control-md " } })@Resources.LE
                </div>
            </div>

            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.CreatedBy</label>
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control form-control-md " } })
                </div>
            </div>

            <div class="col-md-5 mb-3 d-inline-block">
                <div class="col-sm-12">
                    <label>@Resources.IsApproved</label>
                </div>
                <div class="col-md-12">
                    @(Model.IsApproved?ClothesShop.Languages.Resources.YesText:ClothesShop.Languages.Resources.NoText)
                </div>
            </div>

            <div class="col-md-12 mb-3 d-inline-block">
                <div id="TodaySalesGrid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            @if (!Model.IsApproved && ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.Edit))
            {
                <a type="button" class="btn btn-md btn-success" href="@Url.Action("Edit", "TodaySales")/@Model.ID">
                    @Resources.Edit
                </a>
            }
            <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "TodaySales")">
                @Resources.BackToList
            </a>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/todaySalesInfo")
<script>
    $(document).ready(function () {
        TodaySalesInfoManager.Instance.Init({
            "no_data": "@Html.Raw(Resources.NoData)",
            "lst": CommonManager.Instance.NeowtonsoftDesealize('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Transactions.ToList())'),
            "grid_captions": {
                "product": "@Html.Raw(Resources.Product)",
                "numberOfPieces": "@Html.Raw(Resources.NumberOfPieces)",
                "sellingPrice": "@Html.Raw(Resources.SellingPrice)",
                "total": "@Html.Raw(Resources.Total)",
            },
            "grid_id": "#TodaySalesGrid",
            "is_details": true,
            "page_info": "@Resources.PageInfo",
            "currency":"@Resources.LE"
        });
    });
</script>
}