@model ClothesShop.Models.TodayTransactionsViewModel
@using ClothesShop.Languages
@{
    ViewBag.Title = ClothesShop.Languages.Resources.EditTransaction;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "TodaySales", FormMethod.Post, new { @id = "TodaySalesForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.IsApproved)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedOn)
    @Html.HiddenFor(m => m.TodaySalesSeralized)
    @Html.HiddenFor(m => m.Transaction.ID)
    <div class="container-fluid dir-rtl col-md-8 offset-md-2">
        <div class="card m-0">
            <div class="card-header pb-0">
                <h4>@Resources.EditTransaction</h4>
            </div>
            <div class="card-body custom-card-body pt-2 m-0">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Partial("_CreateEdit", Model)
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-md btn-success" onclick="$('#IsApproved').val(false);">
                     @Resources.Save
                </button>
                <button type="submit" class="btn btn-md btn-success" onclick="$('#IsApproved').val(true);">
                    @Resources.AddAndApprove
                </button>
                <a type="button" class="btn btn-md btn-primary pull-left" href="@Url.Action("Index", "TodaySales")">
                    @Resources.BackToList
                </a>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/todaySalesInfo")
}
<script>
    $(document).ready(function () {
        var lst = CommonManager.Instance.NeowtonsoftDesealize('@Newtonsoft.Json.JsonConvert.SerializeObject(ClothesShop.Helpers.Helper.GetProducts())');
        var oldSales = '@Model.TodaySalesSeralized';
        console.log(oldSales);
        CommonManager.Instance.InitDefaultSelectList("#ProductsList", lst, "@Resources.Search", "@Resources.NoData");
        TodaySalesInfoManager.Instance.Init({
            "no_data": "@Html.Raw(Resources.NoData)",
            "lst": CommonManager.Instance.NeowtonsoftDesealize(oldSales),
            "grid_captions": {
                "product": "@Html.Raw(Resources.Product)",
                "numberOfPieces": "@Html.Raw(Resources.NumberOfPieces)",
                "sellingPrice": "@Html.Raw(Resources.SellingPrice)",
                "total": "@Html.Raw(Resources.Total)",
                "delete": "@Html.Raw(Resources.Delete)"
            },
            "product_id":"#ProductsList",
            "sellingPrice_id":"#SellingPrice",
            "numberOfPieces_id":"#NumberOfPieces",
            "add_id": "#addNew",
            "grid_id": "#TodaySalesGrid",
            "is_details": false,
            "page_info": "@Resources.PageInfo",
            "currency": "@Resources.LE",
            "todaySalesSeralized_id": "#TodaySalesSeralized",
            "form_id": "#TodaySalesForm",
            "must_sales_msg": "@Resources.MustHaveSales"
        })
    });
</script>
