@model ClothesShop.Models.TodayTransactionsViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.TodaySales;
}


@section scripts{
    @Scripts.Render("~/bundles/todaySales")

    <script>
        $(document).ready(function () {
            TodaySalesManager.Instance.Init({
                "grid_id": "#TodaySalesGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "TodaySales")",
                "grid_captions": {
                    "createdOn": "@Resources.Date",
                    "todayTotalTransactionsSellingPrice": "@Resources.TotalSellingPrice"
                },

                "view_details": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.Details)" == "True",
                "details_url": "@Url.Action("Details", "TodaySales")/",
                "details_text": "<i class='dx dx-icon-detailslayout' /> @Resources.Details",

                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "TodaySales")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "TodaySales")/",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteTodaySales)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"

            });
        });
    </script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("TodaySales", ClothesShop.Enums.RoleType.Add))
    {

        <a href="@Url.Action("Create", "TodaySales", new { area = "" })" class="btn btn-success mb-2">
            @ClothesShop.Languages.Resources.AddTransaction <i class="dx dx-icon-add"></i>
        </a>
    }
    <div id="TodaySalesGrid">
    </div>
</div>