@model ClothesShop.Models.ProductsSummaryViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.ProductSummary;
}
@section scripts{
    @Scripts.Render("~/bundles/productsSummary")
<script>
    $(document).ready(function () {
        
        ProductsSummaryManager.Instance.Init({
            "grid_id": "#ProductsSummaryGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "ProductsSummary")",
            "grid_captions": {
                "productName": "@Resources.Product",
                "totalIncoming": "@Resources.TotalIncoming",
                "totalReturned": "@Resources.TotalReturned",
                "totalSelled": "@Resources.TotalSelled",
                "totalRemaining": "@Resources.TotalRemaining",
                "originalPrice": "@Resources.OriginalPrice",
                "totalProductPrice": "@Resources.TotalProductPrice",
                "total": "@Resources.Total",
                "currency": "@Resources.LE"
            },
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All",
            });
        });
</script>
}
<div class="container-fluid">
    <div id="ProductsSummaryGrid">
    </div>
</div>
