@model ClothesShop.Areas.Settings.Models.LoginViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Areas/Settings/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.Logins;
}
@section scripts{
    @Scripts.Render("~/bundles/accounts")
<script>
        $(document).ready(function () {
            AccountsManager.Instance.Init({
                "grid_id": "#LoginsGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll", "Logins" , new { area = "Settings"})/",
                "grid_captions": {
                    "fullName": "@Resources.FullName",
                    "userName": "@Resources.UserName",
                },
                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Logins",ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "Logins" , new { area = "Settings"})",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Logins", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete","Logins" , new { area = "Settings"})",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteLogin)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"
            });
        });
</script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Logins", ClothesShop.Enums.RoleType.Add))
    {
            <a href="@Url.Action("Create","Logins", new { area = "Settings" })" class="btn btn-success mb-2">
                @Resources.AddLogin <i class="dx dx-icon-add"></i>
            </a>
    }

    <div id="LoginsGrid">
    </div>
</div>