@model ClothesShop.Models.SupplierViewModel
@using ClothesShop.Languages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.Suppliers;
}

@section scripts{
    @Scripts.Render("~/bundles/suppliers")
    <script>
    $(document).ready(function () {
        
        SuppliersManager.Instance.Init({
            "grid_id": "#SuppliersGrid",
                "grid_height": "calc(100vh - 200px)",
                "url": "@Url.Action("GetAll","Suppliers")",
                "grid_captions": {
                    "name": "@Resources.FullName",
                    "mobileNumber1": "@Resources.MobileNumber1",
                    "mobileNumber2": "@Resources.MobileNumber2",
               },
                "view_update": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Suppliers", ClothesShop.Enums.RoleType.Edit)" == "True",
                "update_url": "@Url.Action("Edit", "Suppliers")/",
                "update_text": "<i class='dx dx-icon-edit'/> @Resources.Edit",

                "view_delete": "@ClothesShop.Helpers.RolesHelper.CheckRoleRight("Suppliers", ClothesShop.Enums.RoleType.Delete)" == "True",
                "delete_url": "@Url.Action("Delete", "Suppliers")",
                "delete_text": "<i class='dx dx-icon-trash'/> @Resources.Delete",

                "confirm_delete": "@Html.Raw(ClothesShop.Languages.Resources.AreYouSureDeleteSupplier)",
                "confirm_title": "@Html.Raw(Resources.Delete)",
                "yes_text": "@Html.Raw(Resources.YesText)",
                "no_text": "@Html.Raw(Resources.NoText)",
                "success_delete": "@Html.Raw(Resources.DeletedSuccessfully)",
                "error_delete": "@Html.Raw(Resources.ErrorWhileDeleting)",
                "no_data": "@Resources.NoData",
                "page_info": "@Resources.PageInfo",
                "all_text": "@Resources.All"
            });
        });
    </script>
}
<div class="container-fluid">
    @if (ClothesShop.Helpers.RolesHelper.CheckRoleRight("Suppliers", ClothesShop.Enums.RoleType.Add))
    {
    <a href="@Url.Action("Create","Suppliers", new { area = "" })" class="btn btn-success mb-2">
        @Resources.AddSupplier  <i class="dx dx-icon-add"></i>
    </a>
    }

    <div id="SuppliersGrid">
    </div>
</div>